[submodule "resources/ft8ts"]
	path = resources/ft8ts
	url = https://github.com/e04/ft8ts.git
[submodule "radae_nopy"]
	path = resources/radae_nopy
	url = https://github.com/peterbmarks/radae_nopy.git
